* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(to right, #000046, #1cb5e0);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  
}

h1 {
  margin: 20px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  
  position: fixed;
  top: 120px;
  left: 540px;
  z-index: 100;

  /* -moz-transform: skew(43deg, -45deg);
  -webkit-transform: skew(43deg, -45deg);
  -o-transform: skew(43deg, -45deg);
  -ms-transform: skew(43deg, -45deg);
  transform: skew(43deg, -45deg); */
  
  background: linear-gradient(to right, #39B4BC, #88D1D7);
}
img {
  height: 50vh;
}

.main {
}

h2 {
  margin: 20px;
  color: white;
}

.description {
  margin: 20px;
  font-style: italic;
  color: #1cb5e0;
}

.buttons {
  margin: 20px;
  
}

.reg {
  margin: 20px;
  padding: 10px;
  color: #39B4BC;
  background-color: #88D1D7;
  border-radius: 50px;
  text-decoration: none;

  transition: 0.6s;
}
.reg:hover{
  color: white;
  
}

.log {
  margin: 20px;
  padding: 10px;
  color: #88D1D7;
  background-color: #39B4BC;
  border-radius: 50px;
  text-decoration: none;

  transition: 0.6s;
}
.log:hover{
  color: white;
}

/* light  #88D1D7 */

/* dark #39B4BC */
