* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #000428, #004e92);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.back {
  color: white;
  align-self: flex-end;
}

h1 {
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(to right, #39b4bc, #88d1d7);
}

h2 {
  margin: 20px;
  color: white;
}

.form {
  margin: 20px;
  display: flex;
  justify-content: center;

  width: 50%;
}

.form_content {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 10px;
  color: #88d1d7;
}

.input {
  margin: 5px;
  padding: 10px;
}

.passbox {
  display: flex;
  flex-direction: row;
}
.tick {
  align-self: center;
}

.logbtn {
  margin: 20px;

  padding: 10px;
  color: #88d1d7;
  background-color: #39b4bc;
  border-radius: 50px;
  text-decoration: none;

  transition: 0.6s;

  cursor: pointer;
}
.logbtn:hover {
  color: white;
}

.link {
  text-decoration: none;
  color: #39b4bc;
}
