* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: linear-gradient(to right, #000428, #004e92);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.back{
  color: white;
  align-self: flex-end;
}

h1 {
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(to right, #39B4BC, #88D1D7);
}

h2 {
  margin: 20px;
  color: white;
}

.form {
  margin: 20px;
  display: flex;
  justify-content: center;

  width: 50%;
}

.form_content {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 10px;
  color: #88D1D7;
}

.input {
  margin: 5px;
  padding: 10px;
}

.logbtn {
  margin: 20px;

  padding: 10px;
  color: #88D1D7;
  background-color: #39B4BC;
  border-radius: 50px;
  text-decoration: none;

  transition: 0.6s;

  cursor: pointer;
}
.logbtn:hover{
  color: white;
}

.link{
  text-decoration: none;
  color: #39B4BC;
  
}
