.show_products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.prod_container {
  margin: 30px;
  padding: 30px;
  border: #1cb5e0 2px solid;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #0575e6, #021b79);
}

.pic {
  object-fit: contain;
}

.name {
  margin: 10px;
}
.prod_numb {
  color: #000046;
}
.name {
  color: #000046;
}

.type {
  color: #1cb5e0;
  margin: 10px;
}

.description {
  margin: 10px;
  text-align: justify;
  font-style: italic;
  color: white;
}

.price {
  font-weight: bold;
  margin: 10px;
}

.platebtn {
  color: #000046;
  background-color: #1cb5e0;
  transition: 0.3s;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border: transparent;
}
.platebtn:hover {
  color: white;
  transition: 0.1s;
  background-color: #000046;
}

.plate_content {
  padding: 30px;
  border: #1cb5e0 2px solid;
  width: 100%;
  height: 650px;
  background: linear-gradient(to right, #0575e6, #021b79);
  flex-wrap: wrap;
  margin: 20px;
}
.rembtn {
  color: #000046;
  background-color: #1cb5e0;
  transition: 0.3s;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border: transparent;
}
.rembtn:hover {
  color: white;
  transition: 0.1s;
  background-color: #000046;
}

.modal_plate {
  flex-wrap: wrap;
  width: 100%;
}

.modal_plate_items {
  width: 50%;
}

.plate_items {
  display: flex;
  flex-wrap: wrap;
}
